@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

header{
    border-radius: 0 0 20px 20px;
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bef790;
    z-index: 10;
}

header .logo{
    position: relative;
    max-width: 80px;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;

}

header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 400;
    padding: 0px 30px;
    text-decoration: none;
}

.containerproje{
    position: relative;
}

.circulo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #bef790;
    clip-path: circle(600px at right 800px);
}

.containerproje .slide-container .slide{
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px 9%;
}

.containerproje .slide-container .slide .contentproje h3{
    font-size: 35px;
    color: #bef790;
    font-family: 'Noto Sans', sans-serif;
}

.containerproje .slide-container .slide .contentproje p{
    font-size: 16px;
    color: #000000;
    font-family: 'Noto Sans', sans-serif;
    width: 40%;
    height: 10%;

}

.containerproje .slide-container .slide .contentproje .bntproj{
    margin-top: 10px;
    display: inline-block;
    background: #bef790;
    color: #20582e;
    font-size: 17px;
    padding: 9px 40px;
    border-radius: 5px;
    
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
}



.containerproje .slide-container.active{
    display: block;
}

.imgbox{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    margin-top: 50px;
}

.imgbox img{
    max-width: 500px;
}

.sci{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}

